.four.columns
  .row.sidebar
    %h5
      = _('Your Classrooms')
    %hr
    %dl.classrooms-list
      - current_user.classrooms.each do |classroom|
        %dt
          = link_to(classroom.title, root_url(:subdomain => classroom.slug))
          - if classroom.owner.eql?(current_user)
            %span.icon-background.right
              %i.icon-star
          - elsif classroom.collaborators.include?(current_user)
            %span.icon-background.right
              %i.icon-users
        %dd
          = classroom.description.html_safe

    - if can? :create, current_user.created_classrooms.build
      = link_to('Start a Classroom', start_classroom_path, :class => 'button primary')
