.four.columns.offset-by-one
  .row.classrooms-sidebar
    %h5
      = _('Your Classrooms')
      - if can? :create, current_user.created_classrooms.build
        = link_to('Start a Classroom', start_classroom_path, :class => 'tiny button primary')
    %hr
    %ul
      - current_user.classrooms.each do |classroom|
        - classroom_klass = current_user.created_classrooms.include?(classroom) ? 'created' : 'member'
        %li{:class => classroom_klass}
          = link_to(classroom.title, root_url(:subdomain => classroom.slug))

    %pre
      TODO:
      Available classrooms
      (mark which one user created,
      which is he a collaborator,
      which he is just a member)
