.four.columns
  .row.sidebar
    %h5
      = _('Your Classrooms')
    %hr
    %dl
      - current_user.classrooms.each do |classroom|
        - classroom_klass = current_user.created_classrooms.include?(classroom) ? 'created' : 'member'
        %dt{:class => classroom_klass}
          = link_to(classroom.title, root_url(:subdomain => classroom.slug))
        %dd
          Todo

    - if can? :create, current_user.created_classrooms.build
      = link_to('Start a Classroom', start_classroom_path, :class => 'button primary')

    %pre
      TODO:
      Available classrooms
      (mark which one user created,
      which is he a collaborator,
      which he is just a member)
