= title('Find out more about Courseware')

#page
  .eight.columns
    %p
      Courseware is a web platform designed to host social learning environments.
    %p
      This project started long ago in 2010, in a different environment and under
      different conditions. At that point It was an Open Source social network
      component that would bring a set of learning tools like assignments and
      gradebook to the existing environment.
    %p
      In 2012 we found out that learning platforms status is a complex and by far
      not complete market in terms of solutions and products. So we started
      Courseware, a project we believe we can build as the best learning
      management web service.
    %p
      At this point, Courseware is a self-bootstrapped venture started by a great
      team from Transylvania. Our mission is to design and build
      %em
        (necessary in that order)
      the next generation cloud based private technology to help
      people host their trainings and classes in the easiest and most affordable
      environment.
    %p
      At this point we are in a private beta program. Please
      = link_to('get in touch with us', contact_home_url(:subdomain => false))
      if you want to be part of it.

  .four.columns.sidebar
    %h5
      Our team

    %hr

    %p
      We are two guys. We met in 2012.
      One is a designer, the other one is a developer. We both have beards.
    %p
      We are small and focused, if you think you should be part of this venture,
      get in touch with us.

    .row
      .three.columns.align-center
        %a.avatar{:href => "https://twitter.com/DavidStroe"}
          %img.avatar{:alt => "David Stroe", :src => "http://0.gravatar.com/avatar/c3e9fc1776d86c50eb25a5a8b6a81d29?s=50"}/
      .nine.columns.end
        %p
          David is responsible for colors, textures and other visuals.

    %p

    .row
      .three.columns.align-center
        %a.avatar{:href => "https://twitter.com/suscov"}
          %img.avatar{:alt => "Stas Sușcov", :src => "http://gravatar.com/avatar/39639fde05c65fae440b775989e55006?s=50"}/
      .nine.columns.end
        %p
          Stas is responsible for the code and operations.
