= title('Contact')

.seven.columns

.four.offset-by-one.columns.sidebar
  %h3
    Find us on web

  .row
    .one.column
      %i.general.foundicon-mail
    .eleven.columns.end
      %a{:href => 'mailto:hello@coursewa.re'}
        hello at coursewa.re

  .row
    .one.column
      %i.social.foundicon-twitter
    .eleven.columns.end
      %a{:href => 'http://twitter.com/coursewa_re'}
        @coursewa_re

  .row
    .one.column
      %i.social.foundicon-github
    .eleven.columns.end
      %a{:href => 'http://github.com/courseware'}
        github.com/courseware

  .row
    .one.column
      %span{:style => 'font-size: 18px'}
        &#9996;
    .eleven.columns.end
      %a{:href => 'http://angel.co/courseware'}
        angel.co/courseware

