.four.columns
  .row.sidebar

    %h5
      = _('About notifications')
    %hr

    %p
      = _('In order to reduce the amount of email Courseware will be sending, please select which type of emails you find most important to receive.')

    %p
      != _('Go back to %s.') % link_to(_('your profile page'), me_users_path)
