.four.columns
  .row.sidebar

    %h5
      = _('Your profile')
    %hr

    %p
      = _('This page contains general informations about you.')
    %p
      = _('Details you provide here will be used on pages like classroom staff information or in other similar context.')
    %p
      != _('To check your billing or subscription status, please visit %s.') % link_to(_('your account page'), my_account_users_path)
