- @icon_name = 'icon-users'

%p{ :class => activity.key.parameterize }

  - if activity.recipient
    - classroom_title = link_to((_('%s classroom') % activity.recipient.title), root_url(:subdomain => activity.recipient.slug))
  - else
    - classroom_title = _('%s classroom (deleted meanwhile)') % activity.parameters[:classroom_title]

  - collaborator_name = activity.parameters[:collaborator_name]

  - if activity.owner
    - user_name = activity.owner.name
  - else
    - user_name = activity.parameters[:user_name]

  - if activity.owner == p[:current_user]
    = _('You removed %s from %s collaborators.' % [collaborator_name, classroom_title])
  - else
    = _('%s removed %s from %s collaborators.' % [user_name, collaborator_name, classroom_title])
