= _('Welcome to Courseware, %{name}') % {:name => @user.name}
================================================

= _('You have successfully signed up, your name is: %{name}') % {:name => @user.name}

= _('To login to the site, just follow this link: %{url}.') % {:url => activate_user_url(@user.activation_token)}

= _('Thanks for teaching with Coursewa.re')
