= _('Welcome to Courseware, %{name}') % {:name => @user.name}
================================================

= _('You have successfully activated your account: %{name}') % {:name => @user.name}

= _('To login to the site, just follow this link: %{url}.') % {:url => @url}

= _('Thanks for teaching with Coursewa.re')
