= _('Welcome to Courseware, %s', @user.username)
================================================

= _('You have successfully signed up, your username is: %s.', @user.username)

= _('To login to the site, just follow this link: %s.', @url)

= _('Thanks for teaching with Coursewa.re')
