Welcome to Courseware, #{@user.username}
========================================

You have successfully signed up,
your username is: #{@user.username}.

To login to the site, just follow this link: #{@url}.

Thanks for teaching with Coursewa.re
