= _('Hello, %{name}') % {:name => @user.name}
================================================

= _('You have requested to reset your password.')

= _('To choose a new password, just follow this link: %{url}.') % {:url => @url}

= _('Thanks for teaching with Coursewa.re')
