.four.columns
  .row.sidebar
    %h5
      = _('Lecture editor sidebar')
    %hr


    -# %pre
    -#   TODO:
    -#   How many assignments
    -#   How many responses
    -#   How many grades
    -#   Relevant coverage
