- @icon_name = 'icon-hammer'

%p{ :class => activity.key.parameterize }

  - if activity.trackable and activity.trackable.receiver
    - receiver_name = _('you') if activity.trackable.receiver.name == p[:current_user]
    - receiver_name = activity.trackable.receiver.name if activity.trackable.receiver.name != p[:current_user]
  - else
    - receiver_name = activity.parameters[:receiver_name]

  - if activity.owner
    - user_name = activity.owner.name
  - else
    - user_name = activity.parameters[:user_name]

  - if activity.trackable and activity.trackable.assignment
    - assignment_title = _('%s work') % link_to(_('assignment'), lecture_assignment_url(activity.trackable.assignment.lecture, activity.trackable.assignment, :subdomain => activity.trackable.classroom.slug))
  - else
    - assignment_title = _('assignment work (deleted meanwhile)')

  - if activity.owner == p[:current_user]
    = _('You evaluated %s %s.' % [receiver_name, assignment_title])
  - else
    = _('%s evaluated %s %s.' % [user_name, receiver_name, assignment_title])
