%p{ :class => activity.key.parameterize }
  - if activity.owner == p[:current_user]
    = _('You graded %s on assignment <em>%s</em>' % [activity.trackable.receiver.name, activity.trackable.assignment.title] )
  - else
    = _('%s graded %s on assignment <em>%s</em>' % [activity.owner.name, activity.trackable.receiver.name, activity.trackable.assignment.title])
%span.timestamp
  = activity.created_at.to_s(:pretty)
%hr

