%p{ :class => activity.key.parameterize }
  - if activity.owner == p[:current_user]
    - grades_link = link_to(_('updated %s grade'), lecture_assignment_grades_url(activity.trackable.assignment.lecture, activity.trackable.assignment, :subdomain => activity.trackable.classroom.slug)) % activity.trackable.receiver.name
    = _('You %s on assignment <em>%s</em>' % [grades_link, activity.trackable.assignment.title] )
  - else
    = _('%s updated %s grade on assignment <em>%s</em>' % [activity.owner.name, activity.trackable.receiver.name, activity.trackable.assignment.title])
%span.timestamp
  = activity.created_at.to_s(:pretty)
%hr
