.quiz-text.question.row
  .twelve.columns.question-content
    .panel
      = auto_oembed(question['content']).html_safe

    .row.option
      .eleven.offset-by-one.columns.option-content
        %textarea{:disabled => true}
          = question['options'].first['content']
