.quiz-text.question.row
  .twelve.columns.question-content
    %textarea.input{:disabled => true}
      = question['content']

    .row.option
      .eleven.offset-by-one.columns.option-content
        %textarea{:disabled => true}
          = question['options'].first['content']
  %hr
