%p
  %a.quiz-new-text.small.button{:href => "#"} Single Answer
  %a.quiz-new-radios.small.button{:href => "#"} Multiple Options – One Answer
  %a.quiz-new-checkboxes.small.button{:href => "#"} Multiple Options – Multiple Answers

%hr
  .quiz-text.template.question.row{:style => "display: none"}
    .twelve.columns.question-content
      %textarea.input Question
      .row.option
        .eleven.offset-by-one.columns.option-content
          %textarea Answer
    .row
      .twelve.columns.alignright
        %a.button.tiny.alert.delete{:href => "#"} Delete
    %hr
  .quiz-radios.template.question.row{:style => "display: none"}
    .twelve.columns.question-content
      %textarea.input Question
      .row.option
        .one.columns.option-validation
          %input{:name => "unique", :type => "radio"}
        .nine.columns.option-content
          %textarea Answer
        .two.columns
          %a.button.tiny.alert.remove{:href => "#"} Remove
    .row
      .nine.columns
        %a.button.tiny.success.add{:href => "#"} Add a new option
      .three.columns.alignright
        %a.button.tiny.alert.delete{:href => "#"} Delete
    %hr
  .quiz-checkboxes.template.question.row{:style => "display: none"}
    .twelve.columns.question-content
      %textarea.input Question
      .row.option
        .one.columns.option-validation
          %input{:type => "checkbox"}
        .nine.columns.option-content
          %textarea Answer
        .two.columns
          %a.button.tiny.alert.remove{:href => "#"} Remove
    .row
      .nine.columns
        %a.button.tiny.success.add{:href => "#"} Add a new option
      .three.columns.alignright
        %a.button.tiny.alert.delete{:href => "#"} Delete
    %hr
