.four.columns
  .row.classrooms-sidebar
    %h5
      = _('Assignment Sidebar')

    %pre
      TODO:
      Relevant lecture
      Current assignment count/order

      If created already:
      Nr. of questions
      Nr. of responses
      Nr. of grades
