.four.columns.offset-by-one
  .row.classrooms-sidebar
    %h5
      = _('Your Classrooms')
      - if can? :create, Coursewareable::Classroom
        = link_to('Start a Classroom', start_classroom_path, :class => 'tiny radius button')
    %hr
    %ul
      - current_user.created_classrooms.each do |classroom|
        %li.sidebar-classroom
          = link_to(classroom.title, root_url(:subdomain => classroom.slug))
