= title _('Welcome')

/ MailChimp
.submission
  .row
    .five.offset-by-one.columns
      %p
        Early tester invitations to be sent early '13.
      %p
        Leave your email to get one first:
    %form{:action => "http://nerd.us2.list-manage1.com/subscribe/post?u=59506454890eccfca9e0901fa&amp;id=af55867378", :method => "post"}
      .four.columns
        %input{:name => "EMAIL", :required => "", :type => "email"}/
      .two.columns
        %input.button.radius{:type => "submit", :value => "Subscribe"}/
/ /MailChimp

/ Tabs
.tabs-wrap
  .row
    .five.offset-by-one.columns
      %h3 Social Features
    .five.offset-by-one.columns
      %h3 Learning Features
/ /Tabs

/ Features
.features
  .row
    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Classroom
      %p Social groups with own sub-domain and privacy.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Customizable
      %p Change colors, themes, or set a header to fit your brand or fancy your taste.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Syllabus
      %p Add a description, introduction and some slides or a video and you're ready to go.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Lectures
      %p Organize your course into lectures. Help people focus, avoid clutter.

  .row
    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Activities Timeline
      %p Social dashboard with users activity and events.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Collaborators
      %p Manage collaborator as you grow.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Assignments
      %p Build quizzes/tasks to help users test their knowledge.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Responses
      %p Use responses to rate user achievements. Get lecture coverage reports.

  .row
    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Software-as-a-service
      %p Pay for what you use, scale easily with flexible subscription plans.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Localizations
      %p Same interface, in your language.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Gradebook
      %p Give grades. Send notifications. Build reports. Easily!

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced File Management
      %p Cloud-based files storage. Your data is safe and always available.

  .row
    .one.columns
      .unchecked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced BuddyPress Integration
      %p Coming from open source solutions? We can help with migration.

    .one.columns
      .unchecked.general.foundicon-checkmark
    .two.columns
      %h4.unspaced Friendly Customer Support
      %p Because awesome products should have awesome support.

    .one.columns
      .checked.general.foundicon-checkmark
    .two.columns.end
      %h4.unspaced Powerful WYSIWYG Editor
      %p Editing content should never be a hassle. Simple content editor with integrated uploads and clean interface.

/ /Features
