.quiz-text.question.row
  .twelve.columns.question-content
    .panel
      = auto_oembed(question['content']).html_safe

    - answer = question['options'].first
    - option_id = 'txt-%d-0' % question_id
    - option_klass = (answer['wrong'] and show_results) ? 'wrong' : nil
    - option_klass = (!answer['wrong'] and answer['valid'] and show_results) ? 'correct' : option_klass;
    .row.option{:class => option_klass}
      - option_name = "response[answers][%d][options][0][answer]" % [question_id]
      .twelve.columns.option-content
        - option_value = show_results ? answer['content'] : nil
        %textarea{:placeholder => _('Your answer'), :name => option_name, :disabled => show_results, :id => option_id}
          = option_value
