.quiz-text.template.question.row
  .twelve.columns.question-content
    %h3
      = question['content']

    .row.option
      - option_name = "response[quiz][%d][value]" % [question_id]
      .twelve.columns.option-content
        %textarea{:placeholder => _('Your answer'), :name => option_name}
  %hr
