.quiz-radios.question.row
  .twelve.columns.question-content
    .panel
      = auto_oembed(question['content']).html_safe

    - question['options'].each_with_index do |answer, index|
      - option_klass = (answer['wrong'] and show_results) ? 'wrong' : nil
      - option_klass = (!answer['wrong'] and answer['valid'] and show_results) ? 'correct' : option_klass;
      - option_id = "rd-%d-%d" % [question_id, index]
      - option_name = "response[answers][%d][options][answer]" % [question_id, index]
      - option_value = ((answer['wrong'] or answer['valid']) and show_results) ? true : false
      .row.option{:class => option_klass}
        .one.columns.option-validation
          %input{:name => "unique", :type => "radio", :id => option_id, :name => option_name, :value => index, :checked => option_value, :disabled => show_results}
        .eleven.columns.option-content
          %label{:for => option_id}
            = answer['content']
