.four.columns.offset-by-one
  .row.classrooms-sidebar
    %h5
      = _('Gradebook Sidebar')
    %p
      = link_to(_('New grade'), new_lecture_assignment_grade_path(@assignment.lecture, @assignment), :class => 'button small primary', :id => 'new_grade')

    %pre
      TODO:
      Relevant lecture
      Relevant assignment
      Available responses count
      Grades added/counted
      Some stats?!?
