%p{ :class => activity.key.parameterize }
  - if activity.owner == p[:current_user]
    = _('You started using Courseware.')
  - else
    = _('%s started using Courseware.' % activity.owner.name)
%span.timestamp
  = activity.created_at.to_s(:pretty)
%hr
