.row
  .twelve.columns
    %ul
      %li{:class => (current_page?(dashboard_classroom_path) ? 'current' : '')}
        = link_to(_('Timeline'), dashboard_classroom_path)
      %li{:class => (current_page?(syllabus_path) ? 'current' : '')}
        = link_to(_('Syllabus'), syllabus_path)
      %li{:class => (current_page?(files_path) ? 'current' : '')}
        = link_to(_('%d Files') % @classroom.assets.count, files_path)
      %li{:class => (current_page?(staff_classroom_path) ? 'current' : '')}
        = link_to(_('Staff'), staff_classroom_path)
