%ul.nav-bar
  %li.active
    %a{ :href => root_url } Home
  -# %li.has-flyout
  -#   %a{ :href => '#' } Nav 2
  -#   %a.flyout-toggle{ :href => '#' }
  -#     %span
  -#   %ul.flyout
  -#     %li
  -#       %a{ :href => '#' }
  -#         Sub Nav 1
  -#     %li
  -#       %a{ :href => '#' }
  -#         Sub Nav 2
