- @icon_name = 'icon-docs'

%p{ :class => activity.key.parameterize }

  - if activity.owner
    - user_name = activity.owner.name
  - else
    - user_name = activity.parameters[:user_name]

  - if activity.trackable and activity.trackable.assignment
    - assignment_title = _('assignment')
  - else
    - assignment_title = _('assignment (deleted meanwhile)')

  - response_title = _('response')
  - if activity.trackable and activity.trackable.user == p[:current_user]
    - response_title = link_to(_('response'), lecture_assignment_response_url(activity.trackable.assignment.lecture, activity.trackable.assignment, activity.trackable, :subdomain => activity.trackable.classroom.slug))

  - if activity.owner == p[:current_user]
    = _('You left a %s on classroom %s.' % [response_title, assignment_title])
  - else
    = _('%s left a %s on classroom %s.' % [user_name, response_title, assignment_title])
