%span.timestamp
  = activity.created_at.to_s(:pretty)
%p{ :class => activity.key.parameterize }
  - lecture_link = link_to(activity.trackable.lecture.title, lecture_url(activity.trackable.lecture, :subdomain => activity.trackable.lecture.classroom.slug))
  - if activity.owner == p[:current_user]
    = _('You updated %s lecture assignment <em>%s</em>' % [lecture_link, activity.trackable.title] )
  - else
    = _('%s updated %s lecture assignment <em>%s</em>' % [activity.owner.name, lecture_link, activity.trackable.title])
%hr
