= title('About')

.orange
  .row
    .eleven.offset-by-one.columns
      .one-pixel
        &nbsp;

/ Tabs
.tabs-wrap
  .row
    .eleven.offset-by-one.columns
      %h3
        = _('About this project')

.content-wrap
  .row
    .eleven.offset-by-one.columns
      %p
        TBD
