= title('Contact')

.orange
  .row
    .eleven.offset-by-one.columns
      .one-pixel
        &nbsp;

/ Tabs
.tabs-wrap
  .row
    .eleven.offset-by-one.columns
      %h3
        = _('How to get in touch')

.content-wrap
  .row
    .eleven.offset-by-one.columns
      %p
        TBD
