.four.columns
  .row.sidebar
    - if can?(:update, @classroom)
      = link_to(_('Customize'), edit_classroom_path, :class => 'right')

    %h5
      = _('Your Classroom')
    %hr

    %pre
      TODO:
      How many lectures
      How many assignments
      How many responses
      How many members/collaborators
      How many grades
      How many uploads / space available
