.four.columns
  .row.sidebar
    = link_to(_('Customize'), edit_classroom_path, :class => 'button tiny primary right')
    %h5
      = _('Your Classroom')
    %hr

    %pre
      TODO:
      How many lectures
      How many assignments
      How many responses
      How many members/collaborators
      How many grades
      How many uploads / space available
