.four.columns.offset-by-one
  .row.actions-sidebar
    %h5
      = _('Your Classroom')
    %hr

    %pre
      TODO:
      How many lectures
      How many assignments
      How many responses
      How many members/collaborators
      How many grades
      How many uploads / space available
