%p{ :class => activity.key.parameterize }
  - syllabus_link = link_to(activity.trackable.title, syllabus_url(:subdomain => activity.trackable.classroom.slug))
  - if activity.owner == p[:current_user]
    = _('You updated %s syllabus.' % syllabus_link)
  - else
    = _('%s updated %s syllabus.' % [activity.owner.name, syllabus_link])
%span.timestamp
  = activity.created_at.to_s(:pretty)
%hr
