#breadcrumbs {
  border-top: 6px solid $bw_9;
  margin-top: -40px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 60px;

  .columns {
  }

  ul.breadcrumbs {
    background: none;
    border: none;
    padding-left: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $bw_9;
    margin-left: 10px;
    margin-right: 10px;

    li {
      a, span {
        text-transform: none;
        color: $bw_4;
        text-decoration: none;
        font-size: 11px;
      }

      &:before {
        color: $bw_9;
        font-size: 20px;
        line-height: 21px;
        float: left;
        font-weight: 200;
      }

    }
  }
}
