body.customized {
  header {
    #heading {
      background: $navBackgroundColor image-url('bg-texture.png') top repeat-x;
      padding-top: 0;
      height: 180px;

      .custom {
        height: 180px;
        margin-bottom: -60px;
      }
    }
  }
}

#members-list, #collaborators-list {
  li {
    width: 43%;
    border-bottom: 1px solid $bw_9;
    margin-top: 20px;
    min-height: 60px;

    .avatar {
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}
