#lecture {
  .panel {
    padding: 10px;
  }

  .sidebar {
    ul.assignments-listing {
      margin-left: 0;

      li {
        border-bottom: 1px solid $bw_9;
        list-style: none;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &:before {
          content: none;
        }

        &:last-child {
          border-bottom: none;
          padding-bottom: 0px;
          margin-bottom: 0px;
        }

      }
    }
  }
}
