.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.button {
  text-transform: uppercase;
  border: 1px solid $btnBorderColor;
}

.naked {
  background: none;
  border: none;
  @include box-shadow(none);
  &:hover {
    background: none;
    border: none;
    @include box-shadow(none);
  }
}

.avatar img {
  @include border-radius(30px);
}

.actions hr {
  margin: 10px 0 10px;
}

.align-to-button {
  margin-top: 8px;
}

