body {
  background: $bw_10;

  * {
    line-height: 20px;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  a {
    color: $secondaryColor;
    &:hover {
      color: $secondaryColor;
      text-decoration: underline;
    }
  }

  .wrap {
    background: $white;
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

header {
  nav {
    height: 60px;
    padding: 10px;
    background: image-url('top-bg.png');
    .dropdown {
      padding-top: 10px !important;
      height: 35px;

      .avatar {
        margin-top: -5px;
      }
    }
  }

  #heading {
    height: 120px;
    background: image-url('head-bg.jpg');
    padding-top: 60px;
    h2 {
      font-size: 30px;
      background: rgba($black, 0.5);
      width: 980px;
      height: 60px;
      overflow: hidden;
      margin-top: 0;
      padding: 20px 20px 0;
      margin: 0 auto 0;
    }
  }
}

#content {
  h1, h2, h3, h4, h5, h6 {
    color: $bodyFontColor;
    margin: 30px 0 10px;
  }

  h1 {
    line-height: 50px;
  }

  h2 {
    line-height: 40px;
  }

  h3 {
    line-height: 30px;
  }

  h4 {
    line-height: 25px;
  }

  h5 {
    line-height: 20px;
  }

  h6 {
    line-height: 15px;
  }

  ul, ol {
    list-style: none inside;
    margin-bottom: 10px;
    margin-left: 10px;

    li {
      &:before {
        content: "\2013 \00a0";
      }
    }
  }

  blockquote {
    margin: 0 0 10px;
    padding: 10px 0 5px 18px;
    border-left: 2px solid $bw_7;
    font-style: italic;

    & p {
      color: $bodyFontColor;
    }
  }

  #notifications {
    .alert-box {
      font-weight: normal;
      font-size: 12px;
      padding: 5px;
    }
    .close {
      padding: 6px;
    }
  }

  .sidebar {
    margin-left: 10px;
    h5 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

footer {
  min-height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  p {
    font-size: 12px;
    & a {
      font-size: 12px;
    }
  }
}
