body {
  background: $bw_10;
  * {
    font-size: 16px;
    line-height: 20px;
  }

  .wrap {
    background: $white;
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

header {
  nav {
    height: 60px;
    padding: 10px;
    background: image-url('top-bg.png');
    .dropdown {
      padding-top: 10px !important;
      height: 35px;
    }
  }

  .menu-icon div {
    font-size: 16px;
    color: $white;
  }

  #heading {
    height: 120px;
    background: image-url('head-bg.jpg');
    padding-top: 60px;
    h2 {
      font-size: 30px;
      background: rgba($black, 0.5);
      width: 960px;
      height: 60px;
      overflow: hidden;
      margin-top: 0;
      padding: 15px;
      margin: 0 auto 0;
    }
  }
}

#content {
  #notifications {
    .alert-box {
      font-weight: normal;
      font-size: 12px;
      padding: 5px;
    }
    .close {
      padding: 6px;
    }
  }
}

footer {
  min-height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  p {
    font-size: 12px;
    margin-bottom: 10px;
    & a {
      font-size: 12px;
    }
  }
}
