@import 'compass/css3';
@import 'settings';

.autocomplete-suggestions {
  border: 1px dotted $inputBorder;
  border-top: none;
  background: #FFF;
  overflow: auto;
  min-width: 100px;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  img {
    float: left;
    margin-right: 10px;
    @include border-radius(30px);
  }
  span {
    line-height: 30px;
  }
}

.autocomplete-selected {
  color: $white;
  background: $mainColor;
}
