= @params[:message]


Here is the link:
= @params[:registration_link]


= _('This email was sent to %{email} email owner!') % {:email => @params[:email]}
= _('If you think this is an error, please ignore this message.')
