%p{ :class => activity.key.parameterize }
  - lecture_link = link_to(activity.trackable.title, lecture_url(activity.trackable, :subdomain => activity.trackable.classroom.slug))
  - if activity.owner == p[:current_user]
    = _('You updated %s lecture.' % lecture_link )
  - else
    = _('%s updated %s lecture.' % [activity.owner.name, lecture_link])
%span.timestamp
  = activity.created_at.to_s(:pretty)
%hr
