.four.columns
  .row.sidebar
    %h5
      = _('Classroom syllabus')
    %hr

    - unless @classroom.new_record?
      %p.smaller
        = _('Last time updated by %s on %s') % [@syllabus.user.name, @syllabus.updated_at.to_s(:pretty)]

    %p
      = _('There are %d lectures with a total of %d assignments.') % [@lectures.count, @classroom.assignments.count]
    %p
      = link_to(_('Jump to course structure'), '#lectures-tree')
