.four.columns.offset-by-one
  .row.classrooms-sidebar
    %h5
      = _('Syllabus Sidebar')

    %pre
      TODO:
      Who created it
      When created
      How many lectures
      How many assignments
      How many responses
      How many members/collaborators
      How many grades
      How many uploads / space available
